:root {
  --border-radius-100: 0.0625rem;
  --border-radius-200: 0.125rem;
  --border-radius-300: 0.1875rem;
  --border-radius-400: 0.25rem;
  --border-radius-600: 0.375rem;
  --border-radius-800: 0.5rem;
  --border-radius-1000: 0.625rem;
}
