@use '../../../styles/utils/mixins' as *;

.banner {
  max-width: 100dvw;
  height: 100%;
  padding-inline: var(--spacing-300);
  border-bottom: var(--border-400);
  display: grid;
  place-content: center;
  overflow-x: hidden;
  
  h1 {
    font-family: var(--font-title);
    font-size: var(--fs-900);
    font-weight: var(--fw-900);
    letter-spacing: var(--letter-spacing-200);
    line-height: 95%;
    margin: var(--spacing-100) 0;
  }
}
