@use '../../../styles//utils/mixins' as *;

.nameContainer {
  @include titleContainer(
    0,
    auto,
    var(--spacing-100),
    var(--spacing-100),
    var(--border-100),
    var(--box-shadow-200)
  );
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
  letter-spacing: var(--letter-spacing-200);
}
