:root {
  --default-background: #eef3fc;
  --text: #05050b;
  --black: #000000;

  --link: #2b128d;

  --light-blue: #b4dcf3;
  --light-green: #4ddacd;
  --light-indigo: #b3a3f2;
  --light-orange: #e5a78d;
  --light-pink: #e66cda;
  --light-red: #ef879a;
  --light-yellow: #e8ea76;

  --blue: #2c5fe2;
  --green: #16ab76;
  --indigo: #4a23e2;
  --orange: #d86331;
  --purple: #a624e3;
  --red: #dd193d;
  --yellow: #bdb726;
}
