:root {
  --spacing-100: 0.625em;
  --spacing-200: 1.25em;
  --spacing-300: 1.875em;
  --spacing-400: 2.5em;
  --spacing-500: 3.125em;
  --spacing-600: 3.75em;
  --spacing-700: 4.375em;
  --spacing-800: 5em;
  --spacing-900: 5.625em;
  --spacing-1000: 6.25em;
  --spacing-1100: 6.875em;
  --spacing-1200: 7.5em;
}
