@use '../../utils/mixins' as *;

:root {
  --fs-900: 3.75rem;
  --fs-800: 3.65rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.875rem;
  --fs-300: 0.75rem;
  --fs-200: 0.625rem;

  @include breakpoint(tab) {
    --fs-900: 4.5rem;
    --fs-800: 3.5rem;
    --fs-700: 2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;
    --fs-200: 0.75rem;
  }

  @include breakpoint(laptop) {
    --fs-900: 6.875rem;
    --fs-800: 6rem;
    --fs-700: 3rem;
    --fs-600: 2.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
  }

  @include breakpoint(desktop) {
    --fs-900: 8.75rem;
    --fs-800: 6.8rem;
    --fs-700: 3.5rem;
    --fs-600: 3rem;
    --fs-500: 1.5rem;
    --fs-400: 1.25rem;
    --fs-300: 1.125rem;
    --fs-200: 1rem;
  }
}
