@mixin dualSection {
    width: 100%;
    border-bottom: var(--border-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin dualSectionSubSection ($border) {
    width: 100%;
    padding: var(--spacing-600) var(--spacing-300);
    border-bottom: $border;
    display: flex;
    flex-direction: column;
    justify-content: center;
}