@use './_breakpoints.scss' as *;

@mixin dualSection {
  width: 100%;
  border-bottom: var(--border-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint(tab) {
    flex-direction: row;
  }
}

@mixin dualSectionSubSection($border, $alignItems) {
  width: 100%;
  padding: var(--spacing-600) var(--spacing-300);
  border-bottom: $border;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: $alignItems;

  @include breakpoint(tab) {
    width: 50%;
    height: 80dvh;
    border-bottom: none;
    border-right: $border;

    &:nth-of-type(2) {
      border-right: none;
    }
  }

  @include breakpoint(laptop) {
    height: 100dvh;
  }
}

@mixin titleContainer(
  $marginY,
  $marginX,
  $paddingY,
  $paddingX,
  $border,
  $shadow
) {
  margin: $marginY $marginX;
  max-width: 100%;
  padding: $paddingY $paddingX;
  border: $border;
  border-radius: var(--border-radius-800);
  box-shadow: $shadow;
  text-align: center;
  line-height: 125%;
}
