@mixin icon($width, $height, $boxShadow) {
  width: $width;
  height: $height;
  border: var(--border-100);
  box-shadow: $boxShadow;
  border-radius: var(--border-radius-400);
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin smallIcon {
  position: absolute;
  @include icon(3.875rem, 3.875rem, var(--box-shadow-100));
}