@use '../../../styles/utils/mixins' as *;

.mediumIcon {
  top: -2.5em;
  right: 1em;
  @include icon(4.6875rem, 4.6785rem, var(--box-shadow-100));

  @include breakpoint(tab) {
    top: -2em;
    right: 15%;
  }
}

