.light-bg-blue {
  background-color: hsl(var(--light-blue));
}

.light-bg-green {
  background-color: hsl(var(--light-green));
}

.light-bg-indigo {
  background-color: hsl(var(--light-indigo));
}

.light-bg-orange {
  background-color: hsl(var(--light-orange));
}

.light-bg-pink {
  background-color: hsl(var(--light-pink));
}

.light-bg-red {
  background-color: hsl(var(--light-red));
}

.light-bg-yellow {
  background-color: hsl(var(--light-yellow));
}

.bg-blue {
  background-color: hsl(var(--blue));
}

.bg-green {
  background-color: hsl(var(--green));
}

.bg-indigo {
  background-color: hsl(var(--indigo));
}

.bg-orange {
  background-color: hsl(var(--orange));
}

.bg-purple {
  background-color: hsl(var(--purple));
}

.bg-red {
  background-color: hsl(var(--red));
}

.bg-yellow {
  background-color: hsl(var(--yellow));
}

.bg-default {
  background-color: hsl(var(--background));
}