.color-light-blue {
  color: hsl(var(--light-blue));
}

.color-light-green {
  color: hsl(var(--light-green));
}

.color-light-indigo {
  color: hsl(var(--light-indigo));
}

.color-light-orange {
  color: hsl(var(--light-orange));
}

.color-light-pink {
  color: hsl(var(--light-pink));
}

.color-light-red {
  color: hsl(var(--light-red));
}

.color-light-yellow {
  color: hsl(var(--light-yellow));
}

.color-blue {
  color: hsl(var(--blue));
}

.color-green {
  color: hsl(var(--green));
}

.color-indigo {
  color: hsl(var(--indigo));
}

.color-orange {
  color: hsl(var(--orange));
}

.color-purple {
  color: hsl(var(--purple));
}

.color-red {
  color: hsl(var(--red));
}

.color-yellow {
  color: hsl(var(--yellow));
}

.fill-light-blue {
  fill: hsl(var(--light-blue));
}

.fill-light-green {
  fill: hsl(var(--light-green));
}

.fill-light-indigo {
  fill: hsl(var(--light-indigo));
}

.fill-light-orange {
  fill: hsl(var(--light-orange));
}

.fill-light-pink {
  fill: hsl(var(--light-pink));
}

.fill-light-red {
  fill: hsl(var(--light-red));
}

.fill-light-yellow {
  fill: hsl(var(--light-yellow));
}

.fill-blue {
  fill: hsl(var(--blue));
}

.fill-green {
  fill: hsl(var(--green));
}

.fill-indigo {
  fill: hsl(var(--indigo));
}

.fill-orange {
  fill: hsl(var(--orange));
}

.fill-purple {
  fill: hsl(var(--purple));
}

.fill-red {
  fill: hsl(var(--red));
}

.fill-yellow {
  fill: hsl(var(--yellow));
}
