.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-25 {
  left: 25%;
}

.right-25 {
  right: 25%;
}

.top-25 {
  top: 25%;
}

.bottom-25 {
  bottom: 25%;
}

.left-50 {
  left: 50%;
}

.right-50 {
  right: 50%;
}

.top-50 {
  top: 50%;
}

.bottom-50 {
  bottom: 50%;
}
