.pictureContainer {
  padding-inline: var(--spacing-100);
  padding-top: var(--spacing-200);
  border: var(--border-100);
  border-radius: var(--border-radius-200);
  box-shadow: var(--box-shadow-200);

  & img {
    height: 8.1875rem;
    width: 6.4375rem;
  }
}
