@use '../../../styles/utils/mixins' as *;

.pictureContainer {
  padding-inline: var(--spacing-100);
  padding-top: var(--spacing-100);
  border: var(--border-100);
  border-radius: var(--border-radius-200);
  box-shadow: var(--box-shadow-200);

  & img {
    height: 8.1875rem;
    width: 6.4375rem;

    @include breakpoint(tab) {
      height: 10.1875rem;
      width: 8.4375rem;
    }

    @include breakpoint(desktop) {
      height: 14.1875rem;
      width: 12.4375rem;
    }
  }
}
