.contentBox {
    padding: var(--spacing-200);
    border: var(--border-200);
    border-radius: var(--border-radius-800);
    box-shadow: var(--box-shadow-100);
    background-color: hsl(var(--background));
}