@use '../../../../styles/utils/mixins' as *;


.mediumIconImg {
  width: 3.125rem;
  height: 3.75rem;

@include breakpoint(tab) {
    width: 3.75rem;
    height: 4.375rem;
}

@include breakpoint(desktop) {
    width: 5.625rem;
    height: 6.25rem;
}


}
