.subTitleContainer {
    margin: var(--spacing-200) auto;
    padding: var(--spacing-100) var(--spacing-300);
    border: var(--border-100);
    border-radius: var(--border-radius-800);
    box-shadow: var(--box-shadow-200);
}